<html lang="en">
  <head>
    {{>header}}
    <script src="./js/script.js"></script>

    <title>404. Page not found</title>
  </head>
  <body>
     {{>navbar}}
     {{errorcomment}}
  </body>
</html>