<!DOCTYPE html>
<html lang="en">
  <head>
    {{>header}}

    <!--JS-->
    <script src="./js/shop.js"></script>
    <script src="./js/products.js"></script>

    <title>Shop</title>
  </head>
  <body>
    {{>navbar}}
    <div class="wrapper">
      <div class="container">
        <div class="row g-1 allProducts">Loading...</div>
      </div>
    </div>
  </body>
</html>

